<!DOCTYPE html>
<html lang="en">

    <div class="header-row" id="header-row" style="padding: 0px; overflow:hidden; height:250px;">

        <div class="container-fluid" style="padding: 0px;">

            <div class="row"> 

                <div class="col-xs-12"> 

                    <a class="navbar-brand logo" href="index.html">
                    
                        <img src="yosemite_1.jpg" alt="yosemite" style="width: 100%;">



                    </a>

                </div>

            </div>

        </div>

    </div>


</html>